*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: system-ui;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

h1 {
  display: inline;
  margin: 0;
}

nav {
  display: flex;
  gap: 0.5rem;
}
